// Palette URL: http://paletton.com/#uid=13x0u0kllllaFw0g0qFqFg0w0aF */

$color-primary-0: #29506D; // Primary
$color-primary-1: #D3DEE7; // Lightest
$color-primary-2: #A3B8C9; // Lighter
$color-primary-3: #718EA4; // Light
$color-primary-4: #496D89; // Medium
$color-primary-5: #123652; // Dark
$color-primary-6: #042037; // Darkest

$rgba-primary-0: rgba( 41, 80,109,1);
$rgba-primary-1: rgba(211,222,231,1); // lightest
$rgba-primary-2: rgba(113,142,164,1);
$rgba-primary-3: rgba( 73,109,137,1);
$rgba-primary-4: rgba( 18, 54, 82,1);
$rgba-primary-5: rgba(  4, 32, 55,1);

$white: #fff;
$blue-white: #F3F6F8;
$off-white: #e9e9e9;

$black: #4a4a4a;
$actual-black: #000;

$nav-tint: rgba(233,233,233,0.5);
