<nav class="navbar navbar-expand-md fixed-top top-navigation">
  <%= link_to admin_root_path, class: 'navbar-brand' do %>
    TheDoor <span>content</span>
  <%- end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div-->
</nav>
